.header{
  background-color: lightblue;
  display: flex;
  justify-content: center;
 
}

.header img{
  width: 4%;
  padding: 10px;
}

.beers{
display: flex;
margin-bottom: 10px;
border-bottom: 2px solid lightblue;
}

.beers img{
  width: 4rem;
  
}
